@charset "utf-8";

div, p, pre, code, h1, h2{
  margin: 0;
}

body{
  font:75%/1.5 Georgia, "Times New Roman", Times, serif;
  padding: 50px;
}
.clearfix:before, .clearfix:after{ content:""; display:table;}
.clearfix:after { clear:both;}
.clearfix{ zoom:1;}/* for IE 6/7 */

h1{
  font-style: italic;
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 50px;
}
h2{
  font-style: italic;
  font-weight: bold;
  margin-bottom: 20px;
}
.section{
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
